<h1>Plan</h1>
<hr>
<% @plans.each do |plan| %>
  <p><%= plan.name %></p>
  <p><%= formatted_amount (plan.amount) %> / <%= plan.interval %></p>
  <%= link_to "決済に進む", new_subscription_path(plan_id: plan.id )%>
  <hr>
<% end %>
